<a href="https://colab.research.google.com/github/denizbaris/Data-with-Python/blob/main/Preclass_Exercises_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'D', 'E', 'F', 'G'],
    'country' : [ 'USA', 'GBR', 'TUR', 'NLD', 'BEL', 'DEU', 'FRA'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})
data.set_index('section', inplace=True)
data

         age country gender favourite_color
section
A         10     USA      M             red
B         22     GBR      F            blue
C         13     TUR      F          yellow
D         21     NLD      M            pink
E         12     BEL      M           black
F         11     DEU      M           green
G         17     FRA      F             red

In [3]:
data[['age']>15]

TypeError: ignored

In [4]:
data[data['age']>15]

         age country gender favourite_color
section
B         22     GBR      F            blue
D         21     NLD      M            pink
G         17     FRA      F             red

In [6]:
data[data['age']>15]['country']

section
B    GBR
D    NLD
G    FRA
Name: country, dtype: object

In [8]:
data[(data['age']>15) & (data['favourite_color'] == 'red')]

         age country gender favourite_color
section
G         17     FRA      F             red

In [12]:
data[(data['age']>20) | (data['favourite_color'] == 'red')]

         age country gender favourite_color
section
A         10     USA      M             red
B         22     GBR      F            blue
D         21     NLD      M            pink
G         17     FRA      F             red

In [13]:
outside = ['A1','A1','A1','A2','A2','A2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
np.random.seed(101)
data = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['X','Y'])
data

             X         Y
A1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
A2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [14]:
data['X']['A2']

1   -0.848077
2   -2.018168
3    0.528813
Name: X, dtype: float64

In [15]:
data['X']['A1']

1    2.706850
2    0.907969
3    0.651118
Name: X, dtype: float64

In [16]:
data['Y']['A2']

1    0.605965
2    0.740122
3   -0.589001
Name: Y, dtype: float64

In [17]:
data.loc['A1','X']

1    2.706850
2    0.907969
3    0.651118
Name: X, dtype: float64

In [18]:
data['X']['A1']

1    2.706850
2    0.907969
3    0.651118
Name: X, dtype: float64

In [19]:
data.loc['A1'].loc[1, 'Y']

0.6281327087844596

In [20]:
data.loc['A2'].loc[1, 'Y']

0.6059653494949336