<a href="https://colab.research.google.com/github/denizbaris/Data-with-Python/blob/main/Time_Sensitive_Real_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('sales_082020.csv')

In [5]:
df.head()

     buyer_id buyer_country seller_id  ... currency  price        date
0  qzpjsi9t0o            GB  6oufpaot  ...      GBP  19.11  2020-08-03
1  o79pns1qwo            GB  50xki2yg  ...      GBP  15.92  2020-08-09
2  sjgbjdkhqx            GB  50xki2yg  ...      GBP   6.37  2020-08-07
3  o79pns1qwo            GB  s0p322hh  ...      GBP  25.27  2020-08-09
4  o79pns1qwo            GB  dpkx192v  ...      GBP   8.90  2020-08-09

[5 rows x 10 columns]

In [6]:
df.info

<bound method DataFrame.info of           buyer_id buyer_country seller_id  ... currency   price        date
0       qzpjsi9t0o            GB  6oufpaot  ...      GBP   19.11  2020-08-03
1       o79pns1qwo            GB  50xki2yg  ...      GBP   15.92  2020-08-09
2       sjgbjdkhqx            GB  50xki2yg  ...      GBP    6.37  2020-08-07
3       o79pns1qwo            GB  s0p322hh  ...      GBP   25.27  2020-08-09
4       o79pns1qwo            GB  dpkx192v  ...      GBP    8.90  2020-08-09
...            ...           ...       ...  ...      ...     ...         ...
237666  p7ibf7soot            GB  ss7jy9ks  ...      GBP   17.11  2020-08-06
237667  2hg8zirueq            US  bk6apusi  ...      USD   69.00  2020-08-05
237668  k5hmcfxcs6            GB  n2ez0xph  ...      GBP   58.28  2020-08-05
237669  ca8nc8qv1x            GB  j1s4nqxb  ...      GBP    9.46  2020-08-05
237670  z09h7w9zcd            US  0au7baxi  ...      USD  160.76  2020-08-06

[237671 rows x 10 columns]>

In [21]:
df.seller_id.value_counts()

pzsiehl0    703
wd3rgi3q    525
j21w87xy    500
dbm0o9qu    436
hbtm3tdy    316
           ...
r09vmnie      1
k5cccslx      1
hefbn0hq      1
rs54sv1r      1
n4ekjzf4      1
Name: seller_id, Length: 114227, dtype: int64

In [28]:
df.currency.value_counts()

GBP    139478
USD     82558
AUD      7580
EUR      5934
CAD      1651
NZD       306
CHF        95
SEK        25
DKK        16
JPY         6
PLN         5
SGD         5
NOK         2
MXN         2
ILS         1
TWD         1
CZK         1
BRL         1
THB         1
HUF         1
HKD         1
MYR         1
Name: currency, dtype: int64

In [56]:
df.groupby('currency')['price']

In [30]:
df.isnull().sum()

buyer_id               0
buyer_country          0
seller_id              0
seller_country         0
product_code           0
category              16
brand             118341
currency               0
price                  0
date                   0
dtype: int64

In [31]:
df.columns

Index(['buyer_id', 'buyer_country', 'seller_id', 'seller_country',
       'product_code', 'category', 'brand', 'currency', 'price', 'date'],
      dtype='object')

In [32]:
df['currency'].value_counts()

GBP    139478
USD     82558
AUD      7580
EUR      5934
CAD      1651
NZD       306
CHF        95
SEK        25
DKK        16
JPY         6
PLN         5
SGD         5
NOK         2
MXN         2
ILS         1
TWD         1
CZK         1
BRL         1
THB         1
HUF         1
HKD         1
MYR         1
Name: currency, dtype: int64

In [43]:
df[df.currency == 'EUR'].count()

buyer_id          5934
buyer_country     5934
seller_id         5934
seller_country    5934
product_code      5934
category          5933
brand               43
currency          5934
price             5934
date              5934
dtype: int64

In [45]:
df.price.value_counts()

1.09      296
1.10      295
1.13      290
1.07      287
1.06      282
         ...
267.21      1
305.51      1
104.56      1
160.59      1
120.67      1
Name: price, Length: 15336, dtype: int64

In [53]:
df[['price','currency']]

         price currency
0        19.11      GBP
1        15.92      GBP
2         6.37      GBP
3        25.27      GBP
4         8.90      GBP
...        ...      ...
237666   17.11      GBP
237667   69.00      USD
237668   58.28      GBP
237669    9.46      GBP
237670  160.76      USD

[237671 rows x 2 columns]

In [57]:
eur = df.loc[df["currency"] == "EUR"]

In [62]:
eur['price']

546        21.25
948        55.26
949        26.92
950        62.28
951        29.68
           ...
237579     21.40
237596      6.68
237598     26.12
237634    204.80
237642     13.75
Name: price, Length: 5934, dtype: float64

In [65]:
eur.head()

       buyer_id buyer_country seller_id  ... currency  price        date
546  oagt2ozal7            IE  b57xo98q  ...      EUR  21.25  2020-08-08
948  xpbfdqczlk            IT  spoetwqz  ...      EUR  55.26  2020-08-09
949  zos594tze5            IT  spoetwqz  ...      EUR  26.92  2020-08-08
950  x1bjyofhp5            IT  spoetwqz  ...      EUR  62.28  2020-08-06
951  xpbfdqczlk            IT  8b0q1eqs  ...      EUR  29.68  2020-08-08

[5 rows x 10 columns]

In [71]:
eur[['price']].value_counts()

price
1.06       12
1.12       12
1.14       10
1.09       10
1.10       10
           ..
62.08       1
29.58       1
62.10       1
29.54       1
2330.08     1
Length: 3794, dtype: int64

In [73]:
eur.price.sum()

275837.69

In [74]:
df.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
KTZ                      1
NaaNaa                   1
Cynthia Rowley           1
See You Monday           1
Maison Scotch            1
Name: brand, Length: 1134, dtype: int64

In [75]:
df.head()

     buyer_id buyer_country seller_id  ... currency  price        date
0  qzpjsi9t0o            GB  6oufpaot  ...      GBP  19.11  2020-08-03
1  o79pns1qwo            GB  50xki2yg  ...      GBP  15.92  2020-08-09
2  sjgbjdkhqx            GB  50xki2yg  ...      GBP   6.37  2020-08-07
3  o79pns1qwo            GB  s0p322hh  ...      GBP  25.27  2020-08-09
4  o79pns1qwo            GB  dpkx192v  ...      GBP   8.90  2020-08-09

[5 rows x 10 columns]

In [80]:
df.dropna()

          buyer_id buyer_country seller_id  ... currency  price        date
1       o79pns1qwo            GB  50xki2yg  ...      GBP  15.92  2020-08-09
3       o79pns1qwo            GB  s0p322hh  ...      GBP  25.27  2020-08-09
6       o79pns1qwo            GB  9p2ansc9  ...      GBP  15.15  2020-08-09
7       bob9rlo4lb            GB  9p2ansc9  ...      GBP  21.38  2020-08-04
8       bob9rlo4lb            GB  9p2ansc9  ...      GBP  13.04  2020-08-04
...            ...           ...       ...  ...      ...    ...         ...
237655  nm1xpzjn55            GB  19ql9irh  ...      GBP  16.97  2020-08-05
237656  qbtdzd37kh            GB  ta47is8q  ...      GBP  26.91  2020-08-05
237658  z1r96987u8            AU  tjo1oj36  ...      AUD  32.35  2020-08-05
237663  jji9og2wj0            US  w8g31gsr  ...      USD  33.56  2020-08-04
237665  e5vfphshsu            GB  6cnezohx  ...      GBP  33.85  2020-08-08

[119324 rows x 10 columns]

In [82]:
df.brand.value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
KTZ                      1
NaaNaa                   1
Cynthia Rowley           1
See You Monday           1
Maison Scotch            1
Name: brand, Length: 1134, dtype: int64

In [84]:
df.columns

Index(['buyer_id', 'buyer_country', 'seller_id', 'seller_country',
       'product_code', 'category', 'brand', 'currency', 'price', 'date'],
      dtype='object')

In [90]:
jwl = df.loc[df["category"] == "Jewellery"]

In [91]:
jwl.value_counts()

buyer_id    buyer_country  seller_id  seller_country  product_code  category   brand              currency  price  date
zz7bzz14k0  GB             9vlsk5b0   GB              g5emascsxnzn  Jewellery  Links of London    GBP       12.43  2020-08-09    1
c788afsgxg  US             vr5obuwh   US              ja4pz6kw16f5  Jewellery  Unbranded          USD       10.38  2020-08-06    1
bxubmocu16  GB             gky1cetx   GB              ie5nk0gr1cs4  Jewellery  Vivienne Westwood  GBP       40.97  2020-08-07    1
bygdtfovue  GB             2zleaamb   GB              3duhnlo3jroi  Jewellery  Tiffany & Co.      GBP       80.61  2020-08-03    1
bzg6eyrpck  US             melwnmql   US              v1dsxfrtkzb2  Jewellery  Hot Topic          USD       39.28  2020-08-09    1
                                                                                                                                ..
nvhq17msfn  GB             9lcvugut   GB              phshf6je3yth  Jewellery  PANDORA            GBP       21.80  2020-08-04    1
nvipxwm9rr  GB             zvrtu5zd   GB              6bs1yc5lbn97  Jewellery  PANDORA            GBP       15.92  2020-08-03    1
nvqk8ktnu5  GB             ftde6aff   GB              tmj2cpmssduj  Jewellery  PANDORA            GBP       13.60  2020-08-03    1
nvsbo0ya6f  GB             d8iftp51   GB              qxxa84ubv48k  Jewellery  PANDORA            GBP       21.80  2020-08-05    1
026yj47w7b  US             67kyc6i0   US              ojyn0vb4n2l1  Jewellery  ALEX AND ANI       USD       37.14  2020-08-06    1
Length: 1398, dtype: int64

In [89]:
df.category.unique()

array(['Dresses', 'Outerwear', 'Tops - Mens', 'Bottoms - Womens',
       'Tops - Womens', 'Outerwear - Mens', 'Accessories', 'Jewellery',
       'Other', 'Film', 'Art', 'Music', 'Shoes', 'Lingerie',
       'Bottoms - Mens', 'Home', 'Tech', 'Beauty', 'Sports equipment',
       'Kids', 'Transportation', 'Books & magazines', 'Underwear',
       'UNSPECIFIED', nan], dtype=object)

In [93]:
df.groupby('category')

In [94]:
jwl.brand.value_counts()

PANDORA              493
Brandy Melville      190
Vivienne Westwood     94
Tiffany & Co.         56
Unbranded             56
                    ...
JW Anderson            1
Céline                 1
Superdry               1
Tissot                 1
Hublot                 1
Name: brand, Length: 82, dtype: int64

In [105]:
jwl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14923 entries, 23 to 237643
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   buyer_id        14923 non-null  object
 1   buyer_country   14923 non-null  object
 2   seller_id       14923 non-null  object
 3   seller_country  14923 non-null  object
 4   product_code    14923 non-null  object
 5   category        14923 non-null  object
 6   brand           1398 non-null   object
 7   currency        14923 non-null  object
 8   price           14923 non-null  float64
 9   date            14923 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.3+ MB

In [106]:
14923-1398

13525

In [104]:
jwl.value_counts()

buyer_id    buyer_country  seller_id  seller_country  product_code  category   brand              currency  price  date
zz7bzz14k0  GB             9vlsk5b0   GB              g5emascsxnzn  Jewellery  Links of London    GBP       12.43  2020-08-09    1
c788afsgxg  US             vr5obuwh   US              ja4pz6kw16f5  Jewellery  Unbranded          USD       10.38  2020-08-06    1
bxubmocu16  GB             gky1cetx   GB              ie5nk0gr1cs4  Jewellery  Vivienne Westwood  GBP       40.97  2020-08-07    1
bygdtfovue  GB             2zleaamb   GB              3duhnlo3jroi  Jewellery  Tiffany & Co.      GBP       80.61  2020-08-03    1
bzg6eyrpck  US             melwnmql   US              v1dsxfrtkzb2  Jewellery  Hot Topic          USD       39.28  2020-08-09    1
                                                                                                                                ..
nvhq17msfn  GB             9lcvugut   GB              phshf6je3yth  Jewellery  PANDORA            GBP       21.80  2020-08-04    1
nvipxwm9rr  GB             zvrtu5zd   GB              6bs1yc5lbn97  Jewellery  PANDORA            GBP       15.92  2020-08-03    1
nvqk8ktnu5  GB             ftde6aff   GB              tmj2cpmssduj  Jewellery  PANDORA            GBP       13.60  2020-08-03    1
nvsbo0ya6f  GB             d8iftp51   GB              qxxa84ubv48k  Jewellery  PANDORA            GBP       21.80  2020-08-05    1
026yj47w7b  US             67kyc6i0   US              ojyn0vb4n2l1  Jewellery  ALEX AND ANI       USD       37.14  2020-08-06    1
Length: 1398, dtype: int64

In [114]:
df.seller_id.unique

<bound method Series.unique of 0         6oufpaot
1         50xki2yg
2         50xki2yg
3         s0p322hh
4         dpkx192v
            ...
237666    ss7jy9ks
237667    bk6apusi
237668    n2ez0xph
237669    j1s4nqxb
237670    0au7baxi
Name: seller_id, Length: 237671, dtype: object>